    <!-- Sessão footer -->
    <div class="whats">
        <a href="https://wa.me/554833715402" target="_blank">
            <img src="./assets/img/LogoWhatsApp.png" alt="Fale Conosco pelo WhatsApp" title="Fale Conosco pelo WhatsApp">
        </a>
    </div>

    <footer class="container-fluid text-white footer col-sm-12">
        <div class="row horaEndereco">
            <div class="horaFuncionamento">
                <ion-icon name="home-outline"></ion-icon>
                <b>Horários de Atendimento:</b>
                <br>
                <i>Segunda a Sexta:</i> 09h00  ~ 12h00 | 13h30 ~ 18h00                    
                <br>
                <br>
                <i>Sábados, Domingos e Feriados:</i>Plantão somente via whatsapp (48) 99186-8080 (18:00 às 23:00)                    
            </div>

            <div class="enderecoRua">
                <a href="https://goo.gl/maps/8acjjmKt61dvhYNm8" target="_blank">
                    <p>
                        <ion-icon name="location-outline"></ion-icon>
                        <b>Endereço: </b> 
                        <br>
                        Rua Humaitá, 258
                        <br>
                        Loja 01
                        <br>
                        Canto / Florianópolis - SC
                    </p>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div>                        
                <p>MGTEC Solar © Todos os direitos reservados</p>                     
            </div>
            <div >
                <a href="https://rodrigocortereal.com.br/" target="_blank"> RCCR - Criação de Sites</a> 
            </div>
        </div>
    </footer>

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '488349906532227');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=488349906532227&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="./assets/js/bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">emailjs.init('zRHap_p4IHOyw8tCM')</script>
</body>
</html>