<%- include('includes/head'); %> <!-- Add dados da pasta include(head) -->
<%- include('includes/nav'); %> <!-- Add dados da pasta include(nav) -->

    <div class="container">
        <div class="row">
            <div class="col lg-2"></div>
            
            <div class="col lg-8 my-5">
                <h1 class="display-1 text-center">Erro 404!</h1>
                <p class="text-center lead">A página que você procrura não existe.</p>
            </div>
            
            <div class="col lg-2"></div>
        </div>
    </div>
    
<%- include('includes/footer'); %> <!-- Add dados da pasta include(footer) -->
